.xh-list-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  color: #001c4b;
}
.xh-list-filter .ant-form-item-label > label {
  color: #001c4b;
}
.xh-list-filter-btn {
}

.xh-list-filter .ant-form-item-label {
  height: 36px;
}
.xh-list-filter .ant-input {
  height: 36px;
  border-color: #dde2eb;
  padding-left: 12px;
  transition: none;
  color: #001c4b;
}

.xh-list-filter .ant-select-selection--single {
  height: 36px;
}
.xh-list-filter .ant-select-selection {
  border-color: #dde2eb;
  transition: none;
}
.xh-list-filter .ant-form-item-control {
  line-height: inherit;
}
.xh-list-filter .ant-form-item-label {
  line-height: 36px;
}

.xh-normal-active-btn.ant-btn {
  color: #0065d0;
  border: 1px solid #0065d0;
  padding: 0;
}
.xh-normal-active-btn-reset.ant-btn {
  width: 108px;
  color: #001c4b;
  line-height: 36px;
  border-color: #dde2eb;
  padding: 0;
}
.xh-list-filter .ant-select-auto-complete.ant-select .ant-input {
  height: 36px;
}

.xh-list-filter
  .ant-input-group.ant-input-group-compact
  > .ant-select:first-child
  > .ant-select-selection {
  border-radius: 0;
}
.xh-list-filter .ant-form-inline .ant-form-item {
  margin-right: 6px;
}

.xh-list-filter .ant-input-group-addon {
  border-radius: 0;
  background-color: #fff;
  border-color: #dde2eb;
}
.xh-list-filter form:not(.ant-form-vertical) .ant-input-group-wrapper {
  top: 0;
}
.xh-list-filter .ant-input:hover {
  border-color: #0065d0;
  transition: none;
}
.xh-list-filter .ant-input:focus {
  border-color: #0065d0 !important;
  box-shadow: none;
}
.xh-list-filter
  .ant-calendar-picker:focus
  .ant-calendar-picker-input:not(.ant-input-disabled) {
  border-color: #0065d0 !important;
  box-shadow: none;
}
.xh-list-filter .ant-calendar-picker:hover {
  border-color: #0065d0;
}
.xh-list-filter .ant-calendar-picker.ant-input:hover {
  border-color: #0065d0;
}

.xh-list-filter .ant-select-selection__rendered {
  line-height: 36px;
}
.xh-list-filter
  .ant-calendar-picker:hover
  .ant-calendar-picker-input:not(.ant-input-disabled) {
  border-color: #0065d0;
}
.xh-list-filter .ant-select-selection:hover {
  border-color: #0065d0;
}
.xh-list-filter
  .ant-input-group-addon:first-child
  .ant-select
  .ant-select-selection {
  width: 143px;
  margin-top: 1px;
  color: #001c4b;
}
.xh-list-filter
  .ant-input-group-addon:first-child
  .ant-select
  .ant-select-selection:hover {
  border-color: #0065d0 !important;
}
.xh-list-filter .ant-select-selection-selected-value {
  color: #001c4b;
}
.xh-list-filter .ant-select-selection:active {
  border-color: #0065d0 !important;
  box-shadow: none;
}
.xh-list-filter .ant-select-selection:focus {
  border-color: #0065d0 !important;
  box-shadow: none;
}
.xh-list-filter .ant-btn:not(.ant-btn-primary):hover {
  color: #3384d9;
  border-color: #3384d9;
}
.xh-list-filter .ant-btn:not(.ant-btn-primary):active {
  color: #0051a6;
  border-color: #0051a6;
}
.xh-list-filter .ant-btn:not(.ant-btn-primary):focus {
  color: #0065d0;
  border-color: #0065d0;
}
.xh-list-filter
  .xh-normal-active-btn-reset.ant-btn:not(.ant-btn-primary):hover {
  color: #001c4b;
  border-color: #dde2eb;
}
.xh-list-filter
  .xh-normal-active-btn-reset.ant-btn:not(.ant-btn-primary):active {
  color: #001c4b;
  border-color: #dde2eb;
}
.xh-list-filter
  .xh-normal-active-btn-reset.ant-btn:not(.ant-btn-primary):focus {
  color: #001c4b;
  border-color: #dde2eb;
}
.xh-filter-groupInput {
  width: 143px !important;
}
.xh-list-filter .xh-normal-active-btn-reset:hover {
  background-color: #dde2eb;
}
.xh-list-filter .xh-normal-active-btn-reset:active {
  background: #d2d7df;
}
